@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.index-main,
.catalog-main {
  flex-grow: 1;
}

/* Кнопки */
.button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: 0;
}

.button-brand {
  background-color: #82b3d3;
}

.button-applied {
  background-color: #7db54f;
}

.button-width {
  font-size: 20px;
  line-height: 36px;
}

/* Заголовочные стили */
.section-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Карты index */
.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.card-description {
  text-align: center;
}

.card {
  display: block;
  width: 400px;
  height: 385px;
  padding: 102px 85px;
}

/* Стили для index, Header */
.page-header {
  display: flex;
  align-items: start;
  width: 1200px;
  padding: 0 70px;
}

.logo-link {
  z-index: 1;
  display: block;
  width: 140px;
  margin-right: 28px;
  margin-bottom: -6px;
}

.logo {
  display: block;
}

.navigation {
  display: flex;
  align-items: start;
  width: 892px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-main {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  margin-right: auto;
}

.navigation-main .navigation-link {
  display: block;
  padding: 20px 16px;
}

.navigation-user {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  min-width: 100px;
  margin-right: 20px;
}

.navigation-user .navigation-link {
  display: block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.search {
  position: relative;
  width: 44px;
}

.search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("../images/interface/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites {
  position: relative;
  width: 44px;
}

.favorites::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url("../images/interface/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.amount-favorites {
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.align-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 160px;
  min-height: 64px;
  padding: 4px 0;
}

.button-wanna-here {
  padding: 8px 34px;
}

.current-navigation-item {
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 19.4px;
  text-underline-position: under;
}

/* Стили для Hero  */
.hero {
  min-height: 485px;
  padding: 51px 70px 25px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/hero-flag.svg"), url("../images/hero-background.jpg");
  background-color: #003905;
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: bottom, center;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* Стили для Advantages  */
/* Оборачивает вступительный текст к секции в контейнер для выравнивания */
.advantages-text-container {
  padding: 69px 70px;
}

.advantages-lead {
  margin: 0 auto 25px;
}

.advantages-description {
  margin: 0 auto 21px;
}

/* Флекс-контейнер для сетки, сбрасывает отступы списка*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* Флекс-контейнер для выравнивания изображения и карты */
.card-saturated {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

/* Наследует цвет текста, тк наследовался цвет заголовочных стилей */
.card-saturated .advantages-card-title {
  color: inherit;
}

/* Меняет местами каждую вторую картинку и карту при структуре (saturated/card/card/card...).
Прописать каждому второму .saturated через nth-child и nth-of-type не получилось */
.advantages-item:nth-child(8n+5) {
  flex-direction: row-reverse;
}

.advantages-img {
  display: block;
}

/* Сбрасывает отступы текста, задает position для выравнивания декоративного псевдоэлемента */
.advantages-card-title {
  position: relative;
  margin: 0;
}

.advantages-card-description {
  margin: 0;
}

/* Декоративный элемент выравнивается по центру нижнего края и смещается на 30рх вниз маргином */
.advantages-card-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 2px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Меняет цвет полоски у saturated */
.card-saturated .advantages-card-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Выравнивает содержимое saturated (чтобы выровнять по space-between)
Центрирует блок с текстом внутри li у обычных карт, тк на макете есть отступы, характерные для центрирования и заданы конкретные границы для текста */
.advantages-list .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Выравнивает saturated по space-between, тк контент этих карт больше, чем обычных и нет четких границ кроме падингов у card */
.card-saturated .card {
  justify-content: space-between;
}

/* Выравнивает текст внутри контейнера для обычных карт */
.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 160px;
}

.advantages-list .card:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .card:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* Стили для Recommendations */
.recommendations-text-container {
  padding: 64px 70px;
}

.recommendations-lead {
  margin: 0 auto 20px;
}

/* Добавляет отступ сверху для адекватного переполнения, тк снизу отступа нет */
.recommendations-description {
  margin: 20px auto 0;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  padding: 80px 85px;
  position: relative;
}

.recommendations-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recommendations-item:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75px;
  height: 75px;
  margin-top: 80px;
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.recommendations-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75px;
  height: 75px;
  margin-top: 80px;
  background-image: url("../images/icons/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.recommendations-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75px;
  height: 75px;
  margin-top: 80px;
  background-image: url("../images/icons/present.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.recommendations-card-title {
  margin: 102px auto 30px;
}

.recommendations-card-description {
  margin: 22px auto 0;
}


/* Cтили для Hotel-search */


/* Стили для Page-footer, Newsletter */
.newsletter {
  padding: 96px 258px 104px;
}

.newsletter-background {
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #425ad2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.newsletter-background .newsletter-lead {
  color: inherit;
}

/* Стили для Footer-wrapper  */
.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

/* Стили для Catalog.html, catalog-header */
.catalog-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/filters-background.jpg");
  background-color: #756157;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

/* Стили для Catalog-filter */
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.like-placeholder {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #000000;
  opacity: 0.3;
}

.price-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-reset {
  background-color: transparent;
}

/* Стили для Hotels-section */
.hotel-section-title {
  text-align: start;
}

.control-select {
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.sorting-option-link {
  color: #000000;
}

.hotel-card-img {
  display: block;
}

.hotel-title-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.accommodation-type {
  text-align: end;
}

.hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
}

.current-pagination-link {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  padding: 0;
}
